<div class="uk-background-secondary">
    <div class="uk-container">
        <div class="uk-align-center uk-text-center@s all-rights uk-padding-small">
            <p class="uk-padding-remove text-white">
                {% now "Y" %} {{site.es_name}} Todos los derechos reservados.
            </p>
            <p class="uk-padding-remove">
                <a href="http://dev2tech.xyz" target="_blank">
                    powered by <span class="dev2tech-font">Dev2tech</span>
                </a>
            </p>
        </div>
    </div>
</div>