{% load staticfiles %}
<nav class="uk-navbar-container uk-sticky uk-sticky-fixed" uk-sticky="animation: uk-animation-slide-top; bottom: #sticky-on-scroll-up" uk-navbar>
    <div class="uk-navbar-center">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                {% if site %}
                    <li>
                        <a href="{% url 'home' %}">
                            {% if site.logo %}
                                <img class="logo-menu" src="{{site.logo.url}}" alt="{{site.name}}">
                            {% else %}
                                <img class="logo-menu" src="{% static 'base/images/logo.png' %}" alt="{{site.name}}">
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
                <li class="{% if pg_title == 'Home' %}uk-active{% endif %}">
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="{% if pg_title == 'Counseling' %}uk-active{% endif %}">
                    <a href="{% url 'counseling' %}">Asesorias</a>
                </li>
                <li class="{% if pg_title == 'Training' %}uk-active{% endif %}">
                    <a href="{% url 'training' %}">Capacitaciones</a>
                </li>
                <li class="{% if pg_title == 'Assessment' %}uk-active{% endif %}">
                    <a href="{% url 'assessment' %}">Evaluaciones</a>
                </li>
                <li class="{% if pg_title == 'Contact' %}uk-active{% endif %}">
                    <a href="{% url 'contact' %}">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

