{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<style>
    
</style>
{% endblock %}

{% block content %}

<div class="uk-section-large uk-section-muted">
    <div class="uk-section-small uk-container">
        <div class="uk-section-large">
            <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-box-shadow-large">
                <h3 class="uk-card-title">Gracias su mensaje se ha enviado correctamente</h3>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}