{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
{% endblock %}

{% block content %}

<div class="asesalud-index">

    <div class="container">

        <h2>Sitio en mantenimiento.</h2>
        <h3>Para mayor informacion, escribir a los siguientes enlaces:
            <br>
            <p>
                <a href="mailto:asesoriasesalud@gmail.com?subject=Asesaludlabora web site">Asesorias </a>
                o
                <a href="mailto:jhernandez.18p@gmail.com?subject=Asesaludlabora web site">Soporte</a>
            </p>
            <br>
        </h3>

    </div>

</div>
{% endblock %}

{% block js %}
{% endblock  %}
